label {
	
	--height: 3rem;
	--width: calc(var(--height) * 1.618);
	--background-color: rgba(200,200,200,1);
	--border-radius: var(--height);
	--border-width: .3rem;
	--border-color: transparent;
	
	--switch-height: calc(var(--height) * 1);
	--switch-width: var(--switch-height);
	--switch-background-color: rgba(255,255,255,1);
	--switch-transition-duration: .2s;
	--switch-transition-timing-function: ease;
	
	--activate-background-color: rgba(0,200,0,1);
	
	background: var(--background-color);
	border: var(--border-width) solid var(--border-color);
	border-radius: var(--border-radius);
	display: block;
	height: var(--height);
	overflow: hidden;
	position: relative;
	width: var(--width);
	
}
label::before, label::after {
	
	content: "";
	display: block;
	
}
label::before {
	
	background: var(--switch-background-color);
	border-radius: var(--border-radius);
	height: var(--switch-height);
	position: relative;
	width: var(--switch-width);
	right: 0;
	z-index: 1;
	
	transition: right var(--switch-transition-duration) var(--switch-transition-timing-function);
	
}
label::after {
	
	background: var(--activate-background-color);
	height: 100%;
	left: calc(var(--width) * -1 + var(--switch-width) * .5);
	position: absolute;
	top: 0;
	width: 100%;
	
	transition: left var(--switch-transition-duration) var(--switch-transition-timing-function);
	
}
:checked + ::before {
	
	right: calc((100% - var(--switch-width)) * -1);
	
}
:checked + ::after {
	
	left: calc((100% - var(--switch-width)) - var(--switch-width));
	
}